@import "../mixins";

.work{
    padding-top: 160px;
    &__content{
        display: grid;  
        grid-template-columns: 42% 65%;
        @include tablet{
            display: block;
        }
    }
    &__list{
        counter-reset: my-counter;
    }
    &__item{
        counter-increment: my-counter;
        position: relative;
        &::before{
            content: '0' counter(my-counter);
            position: absolute;
            left: -31px;
            top: 3px;
            font-weight: normal;
            font-size: 16px;
            line-height: 139.5%;
            color: var(--color-black);
             }
             @include tablet{
                 &::before{
                     display: none;
                 }
            }
    }
    &__text{
        font-weight: normal;
        font-size: 16px;
        line-height: 139.5%;
        color: var(--color-black);
        padding-bottom: 40px;
    }
}