<footer class="footer">
  <div class="container footer__container">
    <div class="footer__item">
      <div class="footer__logo">
        <img src="img/logo.png" alt="logo" class="footer__lg">
        <div class="footer__info-first">
          <p class="footer__text">Политика 
            конфиденциальнности</p>
            <div class="footer__text">Соглашение на обработку персональных данных</div>
        </div>
      </div>
      <div class="footer__link">
        <p class="footer__list">г. Ярославль, ул. Чернопрудная 30</p>
        <p class="footer__list">+7 (4852) 43-65-71</p>
        <p class="footer__list">betonmobil@yandex.ru</p>
        <a href="#" class="btn footer__btn js-move-to">Перезвонить мне</a>
      </div>
    </div>
  </div>
</footer>
