<section class="form">
    <div class="container form__container">
        <h5 class="form__title title">Закажи  прямо сейчас</h5>
        <p class="form__text">Мы перезвоним в течении 30 минут</p>
        <div class="form__item">
            <div class="form__img">
                <img src="img/form.png" alt="form" class="form__images">
            </div>
            <div class="form__input">
                <input class="form__inpt" type="text" placeholder="Ваше имя">
                <input class="form__inpt second" type="text" placeholder="Телефон">
                <div class="form__btn">
                        <button class="btn-reset js-move-to form__btn" type="submit">Перезвонить мне</button>
                    </div>
                    <div class="form__checkbox">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="custom-checkbox__field">
                            <span class="custom-checkbox__content">Даю согласие на обработку данных</span>
                          </label>
                    </div>
            </div>
        </div>
    </div>
</section>