<header class="header">
  <div class="container header__container">
    <div class="header__content">
      <a href="#" class="header__logo">
        <img src="img/logo.png" alt="alt">
      </a>
      <div class="header__call">
        <a href="tel:+74852436571" class="phone">+7 (4852) 43-65-71</a>
      </div>
      <nav class="nav">
            <ul class="nav__list list-reset">
              <li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
              <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Клиенты</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
          
    </div>
  </div>
</header>



