<section class="info">
        <h5 class="info__title title">Наши преимущества</h5>
        <div class="info__content">
            <div class="info__sec">
                <h3 class="info__parag title-1">Надежность</h3>
                <p class="info__text">Решаем задачи в&nbsp; точные сроки<br> и&nbsp;в&nbsp;полном объеме.</p>
            </div>
            <div class="info__sec">
            <h3 class="info__parag">Собственный автопарк</h3>
                <p class="info__text">Бетоносмесители,<br> самосвалы, тонары, погрузчики.</p>
            </div>
            <div class="info__sec">
             <h3 class="info__parag">Нормативные документы</h3>
            <p class="info__text">Сертификаты, сопроволительные   <br>  документы, соответствие ГОСТ</p>
            </div>
            </div>
</section>