<section class="map" >
    <div id="map-1" style="height: 400px;">
        <div class="container map__container">
            <div class="map__item">
                <img src="img/logo.png" alt="logo" class="map__logo">
                <div class="map__info">
                    <p class="map__text">г. Ярославль, ул. Чернопрудная 30</p>
                    <p class="map__text">+7 (4852) 43-65-71</p>
                    <p class="map__text">betonmobil@yandex.ru</p>
                    <p class="map__text">Россия, г.Ярославль,
                        ул. Чернопрудная, д.30</p>
                </div>
            </div>
        </div>
    </div>
</section>