<section class="partners">
    <div class="container partners__container">
        <h6 class="partners__title title">
            Нас выбрали
        </h6>
        <div class="partners__item">
            <div class="partners__img">
                <img src="img/partners-1.png" alt="Леруа Мерлан" class="partners__photo">
            </div>
            <div class="partners__img">
                <img src="img/partners-2.png" alt="Пятерочка" class="partners__photo">
            </div>
            <div class="partners__img">
                <img src="img/partners-3.png" alt="Ярославский шинный завод" class="partners__photo">
            </div>
            <div class="partners__img">
                <img src="img/partners-4.png" alt="ПСМ" class="partners__photo">
            </div>
            <div class="partners__img">
                <img src="img/partners-5.png" alt="СберБанк" class="partners__photo">
            </div>
            <div class="partners__img">
                <img src="img/partners-6.png" alt="Ярославский зоопарк" class="partners__photo">
            </div>
        </div>
    </div>
</section>