<section class="price">
    <div class="container price__container">
        <p class="price__chek title">Цены</p>
        <div class="price__item grid">
          <div class="price__left-content grid">
            <div class="price__content-1">
                <p class="price__str">Раствор</p>
                <p class="price__title">руб./куб.м3</p>
                <p class="price__text">М50 2500</p>
                <p class="price__text">М75 2650</p>
                <p class="price__text">М100 2800</p>
                <p class="price__text">М150 2950</p>
                <p class="price__text">М200 3080</p>
                <p class="price__text">M250 3250</p>
            </div>
            <div class="price__content-2">
                <p class="price__str">Бетон</p>
                <p class="price__title">руб./куб.м3</p>
                <p class="price__text">М100 2800</p>
                <p class="price__text">М150 2900</p>
                <p class="price__text">М200 3050</p>
                <p class="price__text">М250 3350</p>
                <p class="price__text">М300 3500</p>
                <p class="price__text">М350 3800</p>
                <p class="price__text">М400 4050</p>
                <p class="price__text">М450 4400</p>
                <p class="price__text">М500 4750</p>
            </div>
            </div>
            <div class="price__content-3">
                <p class="price__str">Доставка бетона и раствора:</p>
                <p class="price__txt">Осуществляется автобетоносмесителями: 6&nbsp;куб.м.; 8&nbsp;куб.м.
                    Минимальная стоимость доставки по&nbsp;городу Ярославлю&nbsp;&mdash; 2400&nbsp;руб.
                    Доставка по&nbsp;Ярославской области расчитывается отдельно.</p>
                <h5 class="price__info">Услуги АВТОБЕТОНОСМЕСИТЕЛЯ:</h5>
                <p class="price__txt">Автобетоносмеситель: 6&nbsp;куб.м. &mdash;&nbsp;1100 рублей в&nbsp;час.
                    Автобетоносмеситель: 8&nbsp;куб.м. &mdash;&nbsp;1400 рублей в&nbsp;час.</p>
                <h5 class="price__info">УСЛУГИ БЕТОНОНАСОСА:</h5>
                <p class="price__txt">Бетононасосы с&nbsp;разной высотой подачи: 15, 25, 36&nbsp;метров.
                    Цены на&nbsp;услуги бетононасоса расчитываются индивидуально.</p>
                <p class="price__txt">Звоните. Мы поможем вам выбрать марку, расчитать объем
                    и доставку.  </p>
                    <div class="price__phone">
                        <a href="tel:+74852436571" class="price__tel">+7 (4852) 43-65-71</a>
                    </div>
                    <a href="#" class="price__list">Скачать прайс лист</a>
            </div>
        </div>
    </div>
</section>