<section class="work">
    <div class="container work__container">
        <h6 class="work__title title">Условия работы</h6>
            <div class="work__content">
                <ol class="work__list list-reset">
                    <li class="work__item">
                      <p class="work__text">Установка машины на&nbsp;площадку, ожидание бетона, промывка после прокачки, сборка 
                        и&nbsp;разборка бетоноводов считается временем работы</p>
                    </li>
                    <li class="work__item">
                      <p class="work__text">Наличие места слива и&nbsp;технологической 
                        промывки обязательно</p>
                    </li>
                    <li class="work__item">
                      <p class="work__text">Качество бетона и&nbsp;раствора должно соответствовать ГОСТу 7473&nbsp;&mdash; 2010 
                        и&nbsp;ГОСТу 28013&nbsp;&mdash; 98</p>
                    </li>
                    <li class="work__item">
                      <p class="work__text">Время на&nbsp;прочистку автобетононасоса
                        и&nbsp;бетоноводов считается рабочим, если
                        забивание случилось по&nbsp;вине заказчика</p>
                    </li>
                    <li class="work__item">
                      <p class="work__text">Выгрузка, сборка, разборка, промывка
                        и&nbsp;погрузка бетоноводов осуществляется
                        силами заказчика при использовании
                        дополнительных бетоноводов</p>
                    </li>
                  </ol>
                  <div class="work__img">
                      <img clas="work__photo" src="img/info.png" alt="info">
                  </div>
            </div>
        </div>
</section>